extends ../../layouts/default.pug

block main
    .container.my-3
        .row.justify-content-center 
            .col-8 
                h1.text-center Đăng ký 
                form(action="/auth/register" method="POST")
                    div.form-group 
                        label(for='username') Tên đăng nhập
                        input#username.form-control(type='text' name='fullName' required)
                    div.form-group
                        label(for='email') Email
                        input#email.form-control(type='email' name='email' required)
                    div.form-group
                        label(for='phone') Số điện thoại
                        input#phone.form-control(type='tel' name='numberPhone' required pattern='[0-9]{10}')
                    div.form-group
                        label(for='password') Mật khẩu
                        input#password.form-control(type='password' name='password' required)
                    div.form-group.mt-4.d-flex.justify-content-between
                        button.btn.btn-login(type='submit') Đăng ký
                        a.btn.btn-register(href="/auth/login") Đăng nhập
