extends ../../layouts/auth.pug

block main
  .verified-container
    h1 Xác thực thành công
    p Tài khoản của bạn đã được xác thực. Bạn có thể đăng nhập ngay bây giờ.
    a.btn(href='/auth/login') Đến trang đăng nhập
