extends ./default.pug

block contentList
    .social-menu
        a(href="/socialDashboard/friendsList" class="active")
            i.fa-solid.fa-user-group
            |  Danh sách bạn bè
        a(href="/socialDashboard/userList")
            i.fa-solid.fa-users
            |  Danh sách người dùng
        a(href="/socialDashboard/invitesSent")
            i.fa-solid.fa-paper-plane
            |  Lời mời đã gửi
        a(href="/socialDashboard/friendRequests")
            i.fa-solid.fa-user-plus
            |  Lời mời kết bạn
block main