extends ../../layouts/default

block contentList
    .profile-edit-container-list 
        h3 Chỉnh sửa thông tin cá nhân

        form(action="/profile/edit" method="POST" enctype="multipart/form-data")
            
            .form-group.avatar-preview-list
                img#avatarPreview(src=user.avatar alt="Avatar hiện tại" class='avatar') 
                
                .upload-control-group 
                    label.form-label(for="avatarInput") Chọn ảnh đại diện
                    .file-input-wrapper-list 
                        label(for="avatarInput" class="file-button") Tải lên 
                        input(type="file" name="avatar" id="avatarInput")
                        
            .form-group
                input(type="text" name="fullName" id="fullName" value=user.fullName placeholder="Họ và tên" required)
                
            .form-group
                input(type="email" name="email" id="email" value=user.email placeholder="Email" required) 
                
            .form-group
                input(type="tel" name="numberPhone" id="numberPhone" value=user.numberPhone placeholder="Số điện thoại")
                
            button.btn.btn-primary.w-100(type="submit") Lưu thay đổi

block script
    script(src="/js/profile.js")

block main
    .profile-right-panel
        h3.profile-right-panel-title Thông tin cá nhân được bảo mật tuyệt đối
        p Chúng tôi cam kết bảo vệ dữ liệu của bạn. Những thay đổi sẽ giúp các dịch vụ của chúng tôi trở nên cá nhân hóa hơn.
        i.fas.fa-user-lock.profile-security-icon
